[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

tooltips:before {
	content: attr(title);
	display: none;
}

tooltips:hover::before {
	width: 200px;
	display: block;
	background: yellow;
	border: 1px solid black;
	padding: 8px;
	margin: 25px 0 0 10px;
}

.container-focus {
}

.container-focus:focus {
	outline : 0;
}

.box {			
			border-style: solid;
			border-width: 5px;
			border-color:white;
			/*background-color: #e5e0c3;*/
			text-align: center;
			padding: 1%;
			position: relative;
		}
