<div class="container">
	<section>
		<h1>Invalida biglietto</h1>
		<div class="container white boxing">
			<div class="clearfix"></div>
			<h4>Puoi invalidare un biglietto emesso utilizzando il lettore
				in dotazione o, nel caso non si avesse a disposizione il biglietto
				fisico, inserendo il numero del biglietto che si vuole annullare.</h4>
			<div class="row center">
				<div style="margin-right: 10px;"
					data-ui-sref="logged.cancelTicket.reader" class="btn btn-primary">Usa
					il lettore</div>
				<div data-ui-sref="logged.cancelTicket.number"
					class="btn btn-primary">Inserisci il numero del biglietto</div>
			</div>
		</div>
	</section>
</div>