 <section id="title" class="oro t-white">
        <div class="container">
            <div class="row">
                <div style="margin-top:10px;" class="col-sm-offset-3 col-sm-6 text-center">
                    <h1>Cambio password</h1>
                </div>
              
            </div>
        </div>
    </section><!--/#title-->     

    <section style="margin-top:5%;" id="changePwd" class="container">
        <form class="center" role="form">
            <fieldset class="login-form">
                <div class="form-group">
                    <input data-ng-model="changePassword.oldPwd" type="password" id="oldPwd" name="oldPwd" 
                    	placeholder="Vecchia password" class="form-control" data-ng-class="{errorValidate : changePassword.errorOldPwd}">
                </div>
                <div class="form-group">
                    <input data-ng-model="changePassword.pwd" type="password" id="password" name="password" 
                    placeholder="Nuova password" class="form-control" data-ng-class="{errorValidate : changePassword.errorPwd}">
                </div>
                <div class="form-group">
                    <input data-ng-model="changePassword.rePwd" type="password" id="rePassword" name="rePassword" 
                    placeholder="Ripeti la nuova password" class="form-control" data-ng-class="{errorValidate : changePassword.errorRePwd}">
                </div>              
                <div class="form-group">
                    <button class="btn btn-primary btn-md btn-block" data-ng-click="changePassword.change()">Cambia password</button>
                </div>
            </fieldset>
        </form>
        
         <div style="margin-top: 10px;" class="text-center" data-ng-show="changePassword.showError">
        	<p style="color: #ff0000">{{changePassword.error}}</p>
        </div>
    </section><!--/#login-->