<div class="container">
	<h2 style="margin-top: 15px;">Benvenuto {{dashboard.name}}</h2>
	<h4>{{dashboard.today | date:'short'}} - Riepilogo giornaliero</h4>
	<br>
	<div class="row">
		<div class="col-sm-6">
			<h3>Biglietti e ingressi</h3>
			<div style="margin-left:15px; margin-top:20px;">
				<h5>
					Vendite: <b>{{dashboard.info.todayTicketSelled}}</b>
				</h5>
				<h5>
					Ingressi: <b>{{dashboard.info.todayIngress}}</b>
				</h5>
				<br>
				<div class="btn btn-primary tooltips"
					title="Vai alla pagina relativa ai dettagli della vendita dei biglietti e agli ingressi nei plessi museali"
					data-ui-sref="logged.tickets">Dettagli ></div>
				
			</div>	
		</div>
		<div class="col-sm-6">
			<h3>Applicazione Android</h3>
			<div style="margin-left:15px; margin-top:20px;">
				<h5>
					Numero dispositivi differenti: <b>{{dashboard.info.todayDevices}}</b>
				</h5>
				<h5>
					Nuove installazioni: <b>{{dashboard.info.todayAppInstallation}}</b>
				</h5>
				<h5>
					POI consultati: <b>{{dashboard.info.todayPoi}}</b>
				</h5>
				<div class="btn btn-primary tooltips"
						title="Vai alla pagina relativa ai dettagli delle attività delle applicazione mobili"
						data-ui-sref="logged.mobile">Dettagli ></div>
			</div>
		</div>
	</div>

	<div style="margin-top: 10px; margin-bottom: 10px;">
		<br>
		<hr>
	</div>

	<h3>Monitoraggio ambientale</h3>
	<div style="margin-top:20px;" class="col-sm-6" data-ng-repeat="s in dashboard.info.monitoredSites">
		<h5>{{s.name}}</h5>
		<div style="margin-left: 15px;">
			<p>
				Rilevazioni effettuate: <b>{{s.numRead}}</b>
			</p>
			<p>
				Temperatura media: <b data-ng-hide="s.numRead==0">{{s.avgTemperature | number : 2}} °C</b><b data-ng-show="s.numRead==0">N/D</b>
			</p>
			<p>
				Umidità media: <b data-ng-hide="s.numRead==0">{{s.avgHumidity | number : 2}} %</b><b data-ng-show="s.numRead==0">N/D</b>
			</p>
			<span class="btn btn-primary tooltips"
				title="Vai alla pagina relativa ai dettagli del monitoraggio ambientale"
				data-ui-sref="logged.sensorLog({idSite : '{{s.idSite}}' })">Dettagli ></span>
		</div>
	</div>
	<div class="row"></div>
	<div style="margin-top: 10px; margin-bottom: 10px;">
		<br>
		<hr>
	</div>
	<h3>Report</h3>
	<div class="btn btn-primary tooltips"
				title="Vai alla pagina dei report"
				data-ui-sref="logged.report">Visualizza ></div>
</div>