<header class="navbar navbar-inverse navbar-fixed-top wet-asphalt"
	role="banner">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="operator"><img
				src="assets/public/showcase/images/logo_asti.png" width="50px"
				alt="logo"> <span class="navbar-title">AstiMusei </span></a>
		</div>
	</div>
</header>