  <section id="title" class="oro t-white">
        <div class="container">
            <div class="row">
                <div style="margin-top:10px;" class="col-sm-6">
                    <h1>Login</h1>
                    <h4>Quest'area è riservata agli operatori di AstiMusei</h4>
                </div>
              
            </div>
        </div>
    </section><!--/#title-->     

    <section style="margin-top:20px;" id="login" class="container">
        <form class="center" role="form">
            <fieldset class="login-form">
                <div class="form-group">
                    <input type="text" id="username" name="username" placeholder="Username" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="Password" class="form-control">
                </div>              
                <div class="form-group">
                    <button class="btn btn-primary btn-md btn-block ">Login</button>
                </div>
            </fieldset>
        </form>
    </section><!--/#login-->