  <section id="title" class="oro t-white">
        <div class="container">
            <div class="row">
                <div style="margin-top:10px;" class="col-sm-offset-3 col-sm-6 text-center">
                    <h1>Login</h1>
                    <h4>Quest'area è riservata ai soci di AstiMusei</h4>
                </div>
              
            </div>
        </div>
    </section><!--/#title-->     

    <section style="margin-top:5%;" id="login" class="container">
        <form class="center" role="form">
            <fieldset class="login-form">
                <div class="form-group">
                    <input data-ng-model="login.username" type="text" id="username" name="username" placeholder="Username" class="form-control">
                </div>
                <div class="form-group">
                    <input data-ng-model="login.password" type="password" id="password" name="password" placeholder="Password" class="form-control">
                </div>              
                <div class="form-group">
                    <button class="btn btn-primary btn-md btn-block" data-ng-click="login.login()">Login</button>
                </div>
            </fieldset>
        </form>
        
         <div style="margin-top: 10px;" class="text-center" data-ng-show="login.showError">
        	<p style="color: #ff0000">Attenzione, credenziali errate.</p>
        </div>
    </section><!--/#login-->