<div style="margin-top: 20px;">

	<section class="white">


		<div class="container center">
			<h2>Statistiche giornaliere</h2>


			<div class="col-xs-12">


				<div
					class="col-md-1 col-sm-4 col-xs-6 col-md-offset-2 widget txt-white ">

					<div class="pull-left">
						<i class="icon-hand-up"></i>
					</div>
					<span class="label-widget"> Accessi </span> <br> {{mobile.info.todayAppAccess}} <i
						class="fa fa-university"></i>
				</div>

				<div class="col-md-1 col-sm-4  col-xs-6  widget txt-white coral">
					<div class="pull-left">
						<i class="icon-circle-arrow-down"></i>
					</div>

					<span class="label-widget"> Installazioni </span> <br>{{mobile.info.todayAppInstallation}}
				</div>

				<div class="col-md-1 col-sm-4  col-xs-6  emerald widget txt-white">
					<div class="pull-left">
						<i class="icon-mobile-phone"></i>
					</div>
					<span class="label-widget"> Numero device</span> <br>{{mobile.info.todayDevices}}
				</div>
			</div>

		</div>

	</section>



	<!--da dare una dimensione responsive ai grafici mensili--->


	<section>
		<div class="center">
			<h2>N° Accessi/Installazioni ultimi 30 giorni</h2>


				<canvas height="450" width="800" id="line" class="chart chart-line" data-chart-data="mobile.lineChart.data"
					  data-chart-labels="mobile.lineChart.labels" data-chart-series="mobile.lineChart.series"
					  data-chart-options="mobile.chartOptions">
				</canvas> 		</div>

	</section>




	<!---------Ricerca -->

	<section id="access" class="white">

		<div class="container">


			<div class="col-md-12 center ">
				<h2>Ricerca dati</h2>
			</div>

			<div class="gap"></div>

			<form class="row">
				<!--datepicker start-->
				<div class="col-md-1"></div>
				<div class="col-md-2 ">

					<select data-ng-model="mobile.period" data-ng-change="mobile.selectPeriod()" id="period" class="form-control">
						<option selected value="0">Oggi</option>
						<option value="1">Ultima settimana</option>
						<option value="2">Ultimo mese</option>
						<option value="3">Ultimi 3 mesi</option>
						<option value="4">Periodo</option>
					</select>
				</div>
				<div data-ng-if="mobile.period==4" class="col-md-3 form-group ">

					<span class="col-md-1">Da:</span>
					<div id="dataStart" class="input-group col-md-10">
						<input data-ui-date="mobile.dateStartOptions" data-ng-model="mobile.dateStart" data-ng-change="mobile.setDate(mobile.dateStart)" id="date-from"
							class="form-control col-xs-9 datepicker"> <span
							id="calend" class="input-group-addon">
							<i class="glyphicon glyphicon-calendar"></i>
						</span>
					</div>
				</div>

				<div data-ng-if="mobile.period==4" class="col-md-3 ">

					<span class="col-md-1">A:</span>

					<div id="dataEnd" class="input-group col-md-10">

						<input data-ui-date="mobile.dateEndOptions" data-ng-model="mobile.dateEnd" id="date-to"
							class="form-control col-xs-9 datepicker"> <span
							id="calend2" class="input-group-addon">
							<i class="glyphicon glyphicon-calendar"></i>
						</span>
					</div>

				</div>


				<div class="col-md-2">
					<button data-ng-click="mobile.elaborate()" class="btn btn-primary btn-exp">Calcola</button>

				</div>



			</form>
			<!--datepicker end-->


			<div class="gap"></div>

			<!-----------------Risultati---------->
			<div id="results" class="row">


				<h4>Risultati periodo: {{mobile.periodString}}</h4>

				<hr>

				<div class="gap"></div>


				<div class="col-xs-12 col-sm-12 center">


					<!-- dettagli aprirà un'altra tabella con elenco POI visitati-->

					<table class="table table-striped text-left">

						<thead>
							<tr>
								<th>Data</th>
								<th>Numero accessi</th>
								<th>Installazioni</th>
								<th>Percorsi iniziati</th>
								<th>Biglietti inquadrati</th>

							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="(key,value) in mobile.table">
							<td data-ng-show="value.numAccess || value.numInstallation || value.numPathStarted || value.numCheckedTicket">{{key | date : 'shortDate'}}</td>
							<td data-ng-show="value.numAccess || value.numInstallation || value.numPathStarted || value.numCheckedTicket">{{value.numAccess}}</td>
							<td data-ng-show="value.numAccess || value.numInstallation || value.numPathStarted || value.numCheckedTicket">{{value.numInstallation}}</td>
							<td data-ng-show="value.numAccess || value.numInstallation || value.numPathStarted || value.numCheckedTicket">{{value.numPathStarted}}</td>
							<td data-ng-show="value.numAccess || value.numInstallation || value.numPathStarted || value.numCheckedTicket">{{value.numCheckedTicket}}</td>
						</tr>
						</tbody>
					</table>

				</div>


			</div>
			<!--end risultati-->




		</div>
		<!--container-->

	</section>
	<!--/access end-->
</div>