<div class="container-fluid marginXSBottom">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed"
			data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		 <a data-ui-sref="logged.dashboard" href="">
		 	<span class="titleNav"><b><i>Asti</i></b></span>
		 </a>
		
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse"
		id="bs-example-navbar-collapse-1">
		
		
		<ul class="nav navbar-nav">
		</ul>

		<ul class="nav navbar-nav navbar-right">
					
			<li class="dropdown">
				<a tooltip="Impostazioni" href="#" class="dropdown-toggle"
				data-toggle="dropdown" role="button" aria-expanded="false"><span
					class="glyphicon glyphicon-cog"><span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="" data-ng-click="navbar.logout()">Log Out</a></li>
				</ul></li>
		</ul>
	</div>
</div>
