<nav data-ng-include="'/assets/public/partials/navbar.html'" data-ng-controller="navbarCtrl as navbar" class="navbar navbar-default navbar-fixed-top navWithoutPad"></nav>
<div data-ng-show="operator.phase1" style="margin-top:70px;" class="row text-center">
	<div class="col-sm-offset-1 col-sm-10">
		<h3>Seleziona i siti da visitare</h3>
		<div class="singleRowPlaces boxPlaces">
			<div class="row">
				<div class="col-sm-3" data-ng-repeat="p in operator.places">
					<div class="boxFakeDraft selectable" data-ng-class="{'selectedBox' : p.selected}">
						<b>{{p.name}}</b>
						<img data-ng-src="{{p.imageUrl}}" style="width: 75%">
						<div class="textJustify" style="margin: 5px; margin-top:8px; height: 80px;">
							<p><b>Orari:</b> {{p.timetable}}</p>
						</div>
						<div data-ng-hide="p.selected" class="btn btn-primary" data-ng-click="operator.addToSelected(p)">
							<span class="glyphicon glyphicon-plus"></span> Aggiungi al biglietto</div>
						<div data-ng-show="p.selected" class="btn btn-danger" data-ng-click="operator.removeToSelected(p)">
							<span class="glyphicon glyphicon-remove"></span> Rimuovi dal biglietto</div>
					</div>
				</div>
			</div>
		</div>
		<h3 data-ng-show="operator.selected.length>0">Scelti</h3>
		<div class="row">
			<div id="tagBox" class="col-sm-12 tags-wrapper">
				<div id="tagsList" class="tags-cloud">
					<div data-ng-repeat="p in operator.selected" class="tag">
						<span class="tagName">{{p.name}}</span>
						<span style="cursor:pointer;" data-ng-click="operator.removeToSelected(p)">&nbsp;<b class="glyphicon glyphicon-remove"></b></span>
					</div>
				</div>
			</div>
		</div>
			
		<div class="col-sm-offset-2 col-sm-10" data-ng-show="operator.selected.length>0" style="margin-bottom:50px;">
			<div class="row pull-right">
				<div class="col-sm-4">
					<label>Biglietti interi: </label><input style="width: 50px; margin-left: 5px;" type="number" data-ng-model="operator.numFullTicket" min="0">
				</div>
				<div class="col-sm-4">
					<label>Biglietti ridotti: </label><input style="width: 50px; margin-left: 5px;" type="number" data-ng-model="operator.numHalfTicket" min="0">
				</div>
				<div data-ng-click="operator.toPhase2()"  class="col-sm-3 btn btn-success"><span class="glyphicon glyphicon-ok"></span> Procedi</div>
			</div>
		</div>
	</div>
</div>

<div data-ng-show="operator.phase2" style="margin-top:70px;" class="row text-center">
	<div class="col-sm-offset-1 col-sm-10">
		<div class="col-sm-offset-4 col-sm-4 col-xs-12 text-center box"
			style="border:solid 2px; border-color: #142857;">
		<div style="margin: 20px;">
			<h3 data-ng-show="operator.numFullTicket+operator.numHalfTicket==1">Appoggia il biglietto al lettore</h3>
			<h3 data-ng-show="operator.numFullTicket+operator.numHalfTicket>1">Appoggia il biglietto numero {{operator.numberTicket}} di {{operator.numFullTicket+operator.numHalfTicket}} al lettore</h3>
			<form>
				<input type="text" autofocus data-ng-model="operator.t">
				<br>
				<input style="margin-top:10px;" type="submit" data-ng-click="operator.addTicket()" 
						class="btn btn-primary" value="Avanti">
			</form>
			</div>
		</div>
		
	</div>
</div>