<section class="center">
	<div class="container">
		<div class=" col-sm-8 silver"> <!-- grid POI-->
			
				<h2 class="space"> Seleziona i siti da visitare</h2>
				<div class="gap"></div>
				
				
				
				
				<div  class="col-md-4 col-sm-4 col-xs-6" data-ng-repeat="p in selectPlace.places">
					<div data-ng-click="selectPlace.switchSelected(p)" style= "cursor:pointer;" class="places-item " >
						<div class="places-item ">
	                    	<div class="item-inner poi-ticket" data-ng-class="{selected: p.selected}">
								<img class="img-responsive" data-ng-src="{{p.imageId}}" alt="">
								<h5>{{p.name}}</h5>
								<div  class="overlay">
			                    	<a data-ng-hide ="p.selected" class=" preview btn btn-primary"   href="#" rel="prettyPhoto"><i class="icon-plus" ></i></a>
			                    	<a data-ng-show ="p.selected" class=" preview btn btn-danger"   href="#" rel="prettyPhoto"><i class="icon-minus" ></i></a>
			                    </div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="clearfix"></div>
				
			 	<div data-ng-if="selectPlace.showSelectAll" style="margin-bottom:20px;" class="col-sm-4 col-sm-offset-4 btn btn-primary" data-ng-click="selectPlace.switchSelected()">
					<b>Seleziona tutti</b>
				</div>
		</div><!-- grid POI end-->
			
		
 
		<!-- div da mostrare solo se si e' scelto almeno un posto --> 
		<div data-ng-show="selectPlace.selected.length>0">
			<div id="myAffix" class="hidden-xs visible-sm visible-md visible-lg boxing col-sm-4" >
				<div style="margin-left:10px;" >
					<h3 >Siti aggiunti al biglietto: <span class="normal-txt">{{selectPlace.selected.length}}</span></h3>	
					<div id="tagBox" class="tags-wrapper">
						<div id="tagsList" class="tags-cloud">
							<div data-ng-repeat="p in selectPlace.selected" class="row">
								<div style="margin-top:3px;" class="tag">
									<span class="tagName">{{p.name}}</span>
									<span style="cursor:pointer;" data-ng-click="selectPlace.removeToSelected(p)">&nbsp;<b class="glyphicon glyphicon-remove"></b></span>
								</div>
							</div>
						</div>
					</div>
				</div>	
				
				<div class="form-group pull-right space " >
	            	<label for="num_ticket" class="bolding h4"> N° biglietti da acquistare:
	               	 <input type="number" id="num_ticket" class="normal-txt" data-ng-model="selectPlace.numFullTicket" min="1" max="20">
	            	</label>
	        	</div>	
	        	
	        	<div class="clearfix"></div>
	           
	        	<div class="gap"></div>        
	        	<div class="controls pull-right space-dwn">
	            	<div class="btn btn-danger" data-ng-click="selectPlace.removeAll()">
						<span class="glyphicon glyphicon-remove"></span> Annulla
					</div>
							
					<div data-ng-click="selectPlace.toInfo()"  class="btn btn-success">
						<span class="glyphicon glyphicon-ok"></span> Procedi
					</div>
	        	</div>
			
	  
			</div>
		
			<div class="visible-xs hidden-sm hidden-md hidden-lg boxing">
				
				<h3 >Siti aggiunti al biglietto: <span class="normal-txt">{{selectPlace.selected.length}}</span></h3>	
				<div id="tagBox" class="tags-wrapper">
					<div id="tagsList" class="tags-cloud">
						<div data-ng-repeat="p in selectPlace.selected" class="row">
							<div style="margin-top:3px;" class="tag">
								<span class="tagName">{{p.name}}</span>
								<span style="cursor:pointer;" data-ng-click="selectPlace.removeToSelected(p)">&nbsp;<b class="glyphicon glyphicon-remove"></b></span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="form-group pull-right space " >
	            	<label for="num_ticket" class="bolding h4"> N° biglietti da acquistare:
	               	 <input type="number" id="num_ticket" class="normal-txt" data-ng-model="selectPlace.numFullTicket" min="1" max="20">
	            	</label>
	        	</div>	
	        	
	        	<div class="clearfix"></div>
	           
	            
	        	<div class="controls pull-right space-dwn">
	            	<div class="btn btn-danger" data-ng-click="selectPlace.removeAll()">
						<span class="glyphicon glyphicon-remove"></span> Annulla
					</div>
							
					<div data-ng-click="selectPlace.toInfo()"  class="btn btn-success">
						<span class="glyphicon glyphicon-ok"></span> Procedi
					</div>
	        	</div>

			</div>
		</div> <!-- fine div da mostrare solo se si e' scelto almeno un posto -->
</section>

<script>
var fixmeLeft = $('#myAffix').offset().left;

$('#myAffix').affix({
	  offset: {
	    top: 50,
	    left: fixmeLeft
	  }
	  
})

</script>


<!-- <div style="margin-top:20px; margin-bottom: 50px;" class="row text-center"> -->
<!-- 	<div class="col-sm-offset-1 col-sm-10"> -->
<!-- 		<h3>Seleziona i siti da visitare</h3> -->
<!-- 		<div class="singleRowPlaces boxPlaces"> -->
<!-- 			<div style="margin-bottom: 10px;" class="row"> -->
<!-- 				<div class="col-sm-3" data-ng-repeat="p in selectPlace.places"> -->
<!-- 					<div class="boxFakeDraft selectable" data-ng-class="{'selectedBox' : p.selected}"> -->
<!-- 						<b>{{p.name}}</b> -->
<!-- 						<img data-ng-src="{{p.imageId}}" style="width: 75%"> -->
<!-- 						<div class="textJustify" style="margin: 5px; margin-top:8px; height: 80px;"> -->
<!-- 							<p style="color: #000000" class="tooltips" title="{{p.timetable}}"><b>Orari:</b> {{p.timetable | limitTo: 100}} <span data-ng-show="p.timetable.length>100">...</span></p> -->
<!-- 						</div> -->
<!-- 						<div data-ng-hide="p.selected" class="btn btn-primary" data-ng-click="selectPlace.addToSelected(p)"> -->
<!-- 							<span class="glyphicon glyphicon-plus"></span> Aggiungi al biglietto</div> -->
<!-- 						<div data-ng-show="p.selected" class="btn btn-danger" data-ng-click="selectPlace.removeToSelected(p)"> -->
<!-- 							<span class="glyphicon glyphicon-remove"></span> Rimuovi dal biglietto</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 		<h3 style="margin-top: 30px;" data-ng-show="selectPlace.selected.length>0">Scelti</h3> -->
<!-- 		<div class="row"> -->
<!-- 			<div id="tagBox" class="col-sm-12 tags-wrapper"> -->
<!-- 				<div id="tagsList" class="tags-cloud"> -->
<!-- 					<div data-ng-repeat="p in selectPlace.selected" class="tag"> -->
<!-- 						<span class="tagName">{{p.name}}</span> -->
<!-- 						<span style="cursor:pointer;" data-ng-click="selectPlace.removeToSelected(p)">&nbsp;<b class="glyphicon glyphicon-remove"></b></span> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 		</div> -->
			
<!-- 		<div class="col-sm-offset-2 col-sm-10  pull-right" data-ng-show="selectPlace.selected.length>0" style="margin-bottom:50px;"> -->
<!-- 				<div class="col-sm-4 col-sm-offset-6"> -->
<!-- 					<label>Biglietti da acquistare: </label><input style="width: 50px; margin-left: 5px;" type="number" data-ng-model="selectPlace.numFullTicket" min="1"> -->
<!-- 				</div> -->
<!-- 				<div data-ng-click="selectPlace.toInfo()"  class="col-sm-2 btn btn-success"><span class="glyphicon glyphicon-ok"></span> Procedi</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </div> -->