<div style="margin-top: 20px;">
	<section id="sensor">

		<div class="container">
			<div class="col-md-12 center ">
				<h1>Monitoraggio dati ambientali</h1>
			</div>

			<div class="gap"></div>

			<form class="row">
				<!--datepicker start-->
				<div class="col-md-1"></div>
				<div class="col-md-2 ">

					<select data-ng-model="sensorLog.period" data-ng-change="sensorLog.selectPeriod()" id="period" class="form-control">
						<option selected value="0">Oggi</option>
						<option value="1">Seleziona un giorno</option>
						<option value="2">Ultima settimana</option>
						<option value="3">Ultimo mese</option>
						<option value="4">Seleziona un periodo</option>

					</select>
				</div>
					<div data-ng-if="sensorLog.showTwoCal" class="col-md-3 form-group ">
	
						<span class="col-md-1">Da:</span>
						<div id="dataStart" class="input-group col-md-10">
							<input data-ui-date="sensorLog.dateStartOptions" data-ng-model="sensorLog.dateStart" data-ng-change="sensorLog.setDateStart(sensorLog.dateStart)" id="date-from"
								class="form-control col-xs-9 datepicker"> <span
								id="calend" class="input-group-addon">
								<i class="glyphicon glyphicon-calendar"></i>
							</span>
						</div>
					</div>
	
					<div data-ng-if="sensorLog.showTwoCal" class="col-md-3 ">
	
						<span class="col-md-1">A:</span>
	
						<div id="dataEnd" class="input-group col-md-10">
	
							<input data-ui-date="sensorLog.dateEndOptions" data-ng-model="sensorLog.dateEnd" data-ng-change="sensorLog.setDateEnd(sensorLog.dateEnd)" id="date-to"
								class="form-control col-xs-9 datepicker"> <span
								id="calend2" class="input-group-addon">
								<i class="glyphicon glyphicon-calendar"></i>
							</span>
						</div>
	
					</div>
				
					<div data-ng-if="sensorLog.showOneCal" class="col-md-3 form-group ">
	
						<span class="col-md-1"></span>
						<div id="dataStart" class="input-group col-md-10">
							<input data-ui-date="sensorLog.dateStartOptions" data-ng-model="sensorLog.dateStart" id="date-from"
								data-ng-change="sensorLog.setOneDate(sensorLog.dateStart)"
								class="form-control col-xs-9 datepicker"> <span
								id="calend" class="input-group-addon">
								<i class="glyphicon glyphicon-calendar"></i>
							</span>
						</div>
					</div>

				<div class="col-md-2">
					<button data-ng-click="sensorLog.elaborate()" class="btn btn-primary btn-exp">Calcola</button>
				</div>



			</form>
			<!--datepicker end-->
		</div>
		<!--container-->
	</section>
	<section class="white">


		<div class="container center">
			<h2>Statistiche {{sensorLog.periodString}}</h2>


			<div class="col-xs-12">


				<div
					class="col-md-1 col-sm-3 col-xs-6 col-md-offset-1 widget txt-white ">

					<div class="pull-left">
						<i class="icon-hand-up"></i>
					</div>
					<span class="label-widget"> Rilevazioni </span> <br> {{sensorLog.info.numRilevazioni}} <i
						class="fa fa-university"></i>
				</div>

				<div class="col-md-1 col-sm-3  col-xs-6  widget txt-white coral">
					<div class="pull-left">
						<i class="icon-upload-alt"></i>
					</div>

					<span class="label-widget"> Sonde attive </span> <br>{{sensorLog.info.numSonde}} ({{sensorLog.info.sonde.length}})
				</div>

				<div style="background-color: #f1c40f;" class="col-md-1 col-sm-3  col-xs-6 widget txt-white">
					<div class="pull-left">
						<i class="icon-sun"></i>
					</div>
					<span class="label-widget"> Temperatura</span> <br>{{sensorLog.info.temp | number:2}}°C
				</div>
				
				<div class="col-md-1 col-sm-3  col-xs-6  emerald widget txt-white">
					<div class="pull-left">
						<i class="icon-tint"></i>
					</div>
					<span class="label-widget"> Umidità</span> <br>{{sensorLog.info.humid | number:2}}%
				</div>
			</div>

		</div>

	</section>
	<section>
		<div class="center">
			<h2>N° Ticket/ingressi</h2>


				<canvas height="450" width="800" id="line" class="chart chart-line" data-chart-data="tickets.lineChart.data"
					  data-chart-labels="tickets.lineChart.labels" data-chart-series="tickets.lineChart.series"
					  data-chart-options="tickets.chartOptions">
				</canvas> 		</div>

	</section>
	
	<section>
		<div class="center">
			<h2>Visite ai punti di interesse</h2>


				<canvas height="450" width="800" id="bar" class="chart chart-bar" data-chart-data="tickets.rank.data"
					  data-chart-labels="tickets.rank.labels" data-chart-options="tickets.chartOptions">
				</canvas> 		</div>

	</section>
</div>
