<div style="margin-top:20px; margin-bottom: 50px;" class="row text-center">
	<div class="col-sm-offset-1 col-sm-10">
		<h3>Trend acquisto Ticket</h3>
		<h5>Venduti: {{statistics.totalTicketSelled}}</h5>
		<h5>Ingressi: {{statistics.totalIngress}}</h5>
		<div class="row">
				<form class="form-inline" style="margin-top: 10px;">
					<div class="form-group">
						<label  for="interval">Intervallo di analisi</label> 
						<select id="interval"
							data-ng-model="statistics.totalInterval"
							data-ng-change="statistics.changeIntervalTotal()">
								<option selected value="week">Settimanale</option>
								<option value="month">Mensile</option>
								<option value="three_month">Trimestrale</option>
								<option value="year">Annuale</option>
						</select> <span class="glyphicon glyphicon-info-sign tooltips"
								title="Intervallo di analisi."></span>
					</div>
				</form>
		</div>
		<div class=" boxPlaces">
			<div style="margin: 10px;" class="row">
				<h5>Ticket acquistati / ingressi</h5>
				
				<canvas style="height:200px; width:400px;" id="line" class="chart chart-line" chart-data="statistics.dataTotal"
					  chart-labels="statistics.labelsTotal" chart-legend="true" chart-series="statistics.seriesTotal"
					  chart-click="statistics.onClickTotal" >
				</canvas> 
				
			</div>
		</div>
		
	</div>
	
	<div class="col-sm-offset-1 col-sm-10">
		<h3>Trend acquisto Ticket di gruppo</h3>
		<div class="row">
				<form class="form-inline" style="margin-top: 10px;">
					<div class="form-group">
						<label  for="interval">Intervallo di analisi</label> 
						<select id="interval"
							data-ng-model="statistics.groupInterval"
							data-ng-change="statistics.changeIntervalGroup()">
								<option selected value="week">Settimanale</option>
								<option value="month">Mensile</option>
								<option value="three_month">Trimestrale</option>
								<option value="year">Annuale</option>
						</select> <span class="glyphicon glyphicon-info-sign tooltips"
								title="Intervallo di analisi."></span>
					</div>
				</form>
		</div>
		<div class=" boxPlaces">
			<div style="margin: 10px;" class="row">
				<h5>Ticket di gruppo </h5>
				
				<canvas style="height:200px; width:400px;" id="line" class="chart chart-line" chart-data="statistics.dataGroup"
					  chart-labels="statistics.labelsGroup" chart-legend="true" chart-series="statistics.seriesGroup"
					  chart-click="statistics.onClickGroup" >
				</canvas>
			</div>
		</div>
		
	</div>
	
	<div class="col-sm-offset-1 col-sm-10">
		<h3>Trend acquisto Ticket singoli</h3>
		<div class="row">
				<form class="form-inline" style="margin-top: 10px;">
					<div class="form-group">
						<label  for="interval">Intervallo di analisi</label> 
						<select id="interval"
							data-ng-model="statistics.singleInterval"
							data-ng-change="statistics.changeIntervalSingle()">
								<option selected value="week">Settimanale</option>
								<option value="month">Mensile</option>
								<option value="three_month">Trimestrale</option>
								<option value="year">Annuale</option>
						</select> <span class="glyphicon glyphicon-info-sign tooltips"
								title="Intervallo di analisi."></span>
					</div>
				</form>
		</div>
		<div class="boxPlaces">
			<div style="margin: 10px;" class="row">
				<h5>Ticket singoli</h5>
				
				<canvas style="height:200px; width:400px;" id="line" class="chart chart-line" chart-data="statistics.dataSingle"
					  chart-labels="statistics.labelsSingle" chart-legend="true" chart-series="statistics.seriesSingle"
					  chart-click="statistics.onClickSingle" >
				</canvas>
			</div>
		</div>
		
	</div>
	
</div>
