<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee; http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd ">


	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
		<async-supported>true</async-supported> 
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
	    <filter-name>chainDispatcherServletFilter</filter-name>
	    <filter-class>it.polito.applied.asti.clan.security.DispatcherServletFilterChain</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>chainDispatcherServletFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>resourceServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/resource-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>resourceServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>webServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/servlet-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>webServlet</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>servletREST</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/servlet-rest-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<multipart-config>

			<location>/var/asti/tmp</location>


			<max-file-size>20971520</max-file-size>
			<max-request-size>41943040</max-request-size>
		</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>servletREST</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>


	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	


	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/config/security-config.xml
			/WEB-INF/config/mongo-config.xml
			/WEB-INF/config/common-servlet-config.xml
		</param-value>
	</context-param>

	<display-name>Archetype Created Web Application</display-name>

</web-app>
